*{
    margin: 0;
    padding: 0;
}

.capa {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#foto-capa {
    background-repeat: no-repeat;
   /* overflow: hidden;*/
    width: 100%;
    position: absolute;
    height: 400px;
}

.titulo {
    font-size: 50px;
    font-family: 'Cabin Sketch', cursive;
    display: block;
    color: white;
    text-align: center;
    position: absolute;
    /* Bizu para colocar div em cima da outra */
    width: 100%;
    bottom: 50%;
    transform: translate(0,50%);
    /* Tranform para centralizar */
    /* Desce 50% da largura do elemento */
}

.nav-sup {
    
    background-color: rgb(141, 102, 214);
    background-image: linear-gradient(90deg, midnightblue, mediumvioletred);
    height: 50px;
    width: 100%;
    box-shadow:  0px 2px rgba(0, 0, 0,0.2);
    position: fixed;
    /*position: relative;*/
    /*text-align: center*/
    overflow: hidden;
    font-family: 'Amatic SC', cursive;
    color: white;
}

/*
.dropdown-ativar a{
    position: relative;
    text-align: center;
}
*/

/*
.dropdown-ativar ul{
   list-style-type: none;
   /*overflow: hidden;*/
   /*float: left;*/
   /*display: block; 
}
*/

/*
.dropdown-ativar .dropdown-conteudo  ul li, a{
    */
    /*overflow: hidden;*/
    /*
    display: block;
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    float: left;
    color: white;
    padding: 8px 30px;
    font-size: 25px;

    /*text-align: center;*/
    /*
}
*/
/*
.nav-sup .link-menu-sup .campo-busca{
    padding: 0px 10px;
    text-align: right;
    margin-right: 10px;
    /*float:right;*/
/*
}
*/

#campo-busca{
    padding: 5px;
    margin: 10px;
    position: relative;
}


#botao-enviar{
    background-color: transparent;
    border-style: none;
    vertical-align: middle; /*centraliza a lupa verticalmente*/
    
}

#img-botao{
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    height: 20px;
    width: 20px;
}

/*
.nav-sup .link-menu-sup .dropdown01 .dropdown-ativar .dropdown-conteudo{
    display: block;
}

.nav-sup .link-menu-sup .dropdown01 .dropdown-ativar .dropdown-conteudo:hover{
    background-color: black;
}

.dropdown01 .dropdown-ativar{
    display: block;
}

.dropdown01 {
    float:left;
}
*/


.nav-sup ul{
    list-style-type: none;


/*}
.dropdown01 .dropdown-conteudo .lista-dropdown01 li a{
    padding: 10px;
    color: white;
    font-size: 30px;
}

.dropdown-conteudo .lista-dropdown01 li a:hover{
    background-color: black;
}

.dropdown{
    float: left;
}

.dropdown-ativar {
    display:block;
}

.dropdown01 .dropdown-conteudo {
    position: absolute;
    background-color: #dbdbdb;
    overflow: hidden;
    margin-top: 60px;
    width: 200px;
    color:black;
    display: none;
    box-shadow:  0px 2px rgba(0, 0, 0,0.2);
}

.dropdown:hover .dropdown-conteudo{
    display: block;
}

.dropdown01 .dropdown-ativar:hover , .dropdown-conteudo .lista-dropdown01 li a:hover{
    background-color:rgb(166, 168, 164);
    width: 100%;
    cursor: pointer;
    color: black;
}



.dropdown-conteudo .lista-dropdown01 a{
    color: black;
}


*/

.dropdown01 {
    float: left;
}

.nav-sup ul li .dropdown01 .dropdown-ativar a {
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    color: white;
}