*{
    margin: 0;
    padding: 0;
}

.capa {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#foto-capa {
    background-repeat: no-repeat;
   /* overflow: hidden;*/
    width: 100%;
    position: absolute;
    height: 400px;
}

.capa .titulo {
    font-size: 50px;
    font-family: 'Cabin Sketch', cursive;
    display: block;
    color: white;
    text-align: center;
    position: absolute;
    /* Bizu para colocar div em cima da outra */
    width: 100%;
    bottom: 50%;
    transform: translate(0,50%);
    /* Tranform para centralizar */
    /* Desce 50% da largura do elemento */
}

.campo-busca{
    text-align: right;
    margin-right: 20px;
}

#campo-busca{
    padding: 5px;
    margin: 10px;
    position: relative;
}


#botao-enviar{
    background-color: transparent;
    border-style: none;
    vertical-align: middle; /*centraliza a lupa verticalmente*/
    
}

#img-botao{
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    height: 20px;
    width: 20px;
}


.nav-sup {
    
    background-color: rgb(141, 102, 214);
    background-image: linear-gradient(90deg, midnightblue, mediumvioletred);
    height: 50px;
    width: 100%;
    box-shadow:  0px 2px rgba(0, 0, 0,0.2);
    /*position: fixed;*/
    /*position: relative;*/
    /*text-align: center*/
    overflow: hidden;
   
}

.nav-sup ul{
    list-style-type: none;
    /*overflow: hidden;*/
    
}

.nav-sup ul a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-family: 'Amatic SC', cursive;
    float: left;
    display: block;

}

.dropdown {
    float:left;
}

/*
.nav-sup .dropdown .dropdown-conteudo .lista-dropdown li > a{
    padding: 10px;
}
*/

.nav-sup .dropdown .dropdown-ativar{
    padding: 7px 20px;
    display: block;
}

.nav-sup .dropdown .dropdown-conteudo{
    position: absolute;
    background-color: rgba(200, 100, 200,0.5);
    text-decoration: none;
    padding: 10px;
    overflow: hidden;
    display: none;
}

.dropdown:hover .dropdown-conteudo{
    display: block;
}




.nav-sup .dropdown .dropdown-conteudo .lista-dropdown li a:hover{
    width: 100%;
    padding: p;
}


.dropdown .dropdown-ativar:hover, .dropdown .dropdown-conteudo .lista-dropdown li a:hover{
    background-color:rgba(0, 0, 0,0.2);
    padding: 0;
    cursor: pointer;
}


.dropdown:hover .dropdown-ativar{
    background-color:rgba(0, 0, 0,0.2);
    overflow: hidden;
    padding: 7px 20px;
}






/*
.nav-sup .dropdown .dropdown-ativar a:hover, .dropdown-conteudo .lista-dropdown li a:hover {
    background-color: red;
    width: 100%;
    cursor: pointer;
}
*/





/*

 .dropdown .dropdown-conteudo .lista-dropdown li a:hover{
    background-color: green;
    cursor: pointer;
    width: 100%;
}*/







/*

.dropdown .dropdown-ativar .dropdown-conteudo .lista-dropdown{
    display: none;
    background-color: rgba(0, 0, 0,0.2);
}

.dropdown .dropdown-ativar {
    padding: 6px 20px;
    font-size: 20px;
}

*/

/*
.dropdown .dropdown-ativar:hover{
    background-color: rgba(0, 0, 0,0.2);
   /* overflow: hidden;*/
/*}*/

/*
.dropdown-ativar:hover{
    display: block;
}
*/


/*
.dropdown .dropdown-conteudo .lista-dropdown{
    position: absolute;
   /* display: none;*/
   /*
    background-color: rgba(0, 0, 0,0.2);
}

.dropdown:hover .dropdown-conteudo{
    display: block;
}
*/