*{
    margin: 0;
    padding: 0;
}

.capa {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#foto-capa {
    background-repeat: no-repeat;
   /* overflow: hidden;*/
    width: 100%;
    position: absolute;
    height: 400px;
}

.capa .titulo {
    font-size: 50px;
    font-family: 'Cabin Sketch', cursive;
    display: block;
    color: white;
    text-align: center;
    position: absolute;
    /* Bizu para colocar div em cima da outra */
    width: 100%;
    bottom: 50%;
    transform: translate(0,50%);
    /* Tranform para centralizar */
    /* Desce 50% da largura do elemento */
}

.campo-busca{
    text-align: right;
    margin-right: 20px;
}

#campo-busca{
    padding: 5px;
    margin: 10px;
    position: relative;
}


#botao-enviar{
    background-color: transparent;
    border-style: none;
    vertical-align: middle; /*centraliza a lupa verticalmente*/
    
}

#img-botao{
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    height: 20px;
    width: 20px;
}


.nav-sup {   
    background-color: rgb(141, 102, 214);
    background-image: linear-gradient(90deg, midnightblue, mediumvioletred);
    height: 50px;
    width: 100%;
    box-shadow:  0px 2px rgba(0, 0, 0,0.2);
    /*position: fixed;*/
    /*position: relative;*/
    /*text-align: center*/
    overflow: hidden;
   
}

.nav-sup ul{
    list-style-type: none;
    /*overflow: hidden;*/
}

.nav-sup .dropdown .dropdown-ativar a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-family: 'Amatic SC', cursive;
    float: left;
    display: block;

}

.dropdown .dropdown-conteudo > .lista-dropdown > li > a {
    font-size: 20px;
    color: black;
}

.dropdown {
    float:left;
}


.nav-sup .dropdown .dropdown-ativar{
    padding: 7px 20px;
    display: block;
    overflow: hidden;

}

.nav-sup .dropdown .dropdown-conteudo{
    position: absolute;
    background-color:#C61585;
    text-decoration: none;
    /* padding: 10px; */
    overflow: hidden;
    max-height: 0;
    transition: 1500ms;          
    display: block;
    /* o display tem que ser block porque o transition não funciona com display none*/
    /* o max-height 0 garante que o display não vai aparecer a princípio*/
}

.dropdown:hover .dropdown-conteudo{
    display: block;
    max-height: 1000px;
}


.dropdown .dropdown-ativar:hover, .dropdown .dropdown-conteudo .lista-dropdown li a{
    font-size: 20px;
    /*color: black;*/
    display: block;
    text-decoration:none;

}
.dropdown .dropdown-conteudo .lista-dropdown li a{
    width: 150px;
    font-family:  'Amatic SC', cursive;
    font-size: 20px;
    color: white;
    padding: 10px;

}

.dropdown .dropdown-ativar:hover, .dropdown .dropdown-conteudo .lista-dropdown li a:hover{
    background-color:rgba(0, 0, 0,0.2);
    cursor: pointer;
}


.dropdown:hover .dropdown-ativar{
    background-color:rgba(0, 0, 0,0.2);
    overflow: hidden;
    padding: 7px 20px;
}

.nav-esquerdo-movel {
    padding: 10px;
    background-color: #C61585;
    position: fixed;
   /* overflow: auto;*/
    top: 450px;
    right: 0;
    /*bottom: 10px;*/
    box-sizing: border-box;

}

.nav-esquerdo-movel {

}




.container {
    padding: 20px 20%;
}

/*
se não tiver position fixed, nem relative e nem absolute, não existe as propriedades top, left, bottom e right.
só existe o normal (margin-top, margin-left...).

*/




/*
.menuesq{
    background: linear-gradient( to right, gold , lightgoldenrodyellow);
    width: 150px;
    height: auto;
    padding: 10px;
    border-radius:0 20px 0px 0;
    position: fixed;
    overflow: auto;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .5);



}
*/