* {
    margin: 0;
    padding: 0;
}


.logo {
    float: left;
    overflow: hidden;
}

.img-logo {
    width: 285px;
    height: 45px;
    padding: 20px 10px 5px;
}

.slogan {
    padding: 40px 10px 5px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-sup {
    background-color: #4CAF50;
    color: #FFFFFF;
    box-shadow:  0px 2px rgba(0, 0, 0,0.2);
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.menu-sup ul{
    list-style-type: none;
}

.dropdown-conteudo .menu-dropdown li a{
    padding: 10px 20px;
}

.menu-sup ul li a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 22px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

.menu-sup ul li a:hover{
    background-color: #FFFFFF;
    color: black;
}

.nav-lateral {
    background-color: #FFFFFF;
    box-shadow: 1px 2px rgba(0, 0, 0,0.2);
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.nav-lateral ul li p{
    padding: 10px 0px 10px;
    font-size: 18px;
    padding: 10px;
}

.nav-lateral ul li a{
    text-decoration: none;
    padding: 10px 10px;
    color: black;
    display: block;

}

.nav-lateral ul li a:hover{
    background-color: rgb(166, 168, 164);
}

.dropdown {
    float: left;
}

.dropdown-ativar {
    display: block;
}

.dropdown .dropdown-conteudo {
    position: absolute;
    background-color: #dbdbdb;
    overflow: hidden;
    margin-top: 60px;
    width: 200px;
    color:black;
    display: none;
    box-shadow:  0px 2px rgba(0, 0, 0,0.2);
}

.dropdown:hover .dropdown-conteudo{
    display: block;
}

.dropdown .dropdown-ativar:hover , .dropdown-conteudo .menu-dropdown li a:hover{
    background-color:rgb(166, 168, 164);
    width: 100%;
    cursor: pointer;
    color: black;
}

.dropdown-conteudo .menu-dropdown li p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: black;
}

.dropdown-conteudo .menu-dropdown a{
    color: black;
}

